<mat-toolbar color="primary">
  <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Exam Portal</span>
  <span class="example-spacer"></span>
  
 <a  *ngIf="!isLoggedIn" routerLink="/login" mat-icon-button class="example-icon favorite-icon" matTooltip="Login"
    aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
  </a>
  <a *ngIf="!isLoggedIn" routerLink="/signup" mat-icon-button class="example-icon" matTooltip="User Registration"
    aria-label="Example icon-button with share icon">
    <mat-icon>how_to_reg</mat-icon>
  </a>
  <button mat-button routerLink="/admin-dashboard/profile">
  <span *ngIf="isLoggedIn && user && user.username!=null" class="m-2">{{user.username}}</span>
</button>

  <a  (click)="logout()" mat-icon-button class="example-icon" matTooltip="LogOut"
  aria-label="Example icon-button with share icon">
  
  <mat-icon>logout</mat-icon>
</a>



 
</mat-toolbar>