<mat-card>
    <h3>Your Profile Details</h3>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img class="profile-image responsive-image"src="../../../assets/default.png.png" alt="">
                    <h1 class="mt20"> Vinayak Shukla</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">

                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>