<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container">
                    <img class="text-center exam-logo m-auto " src="../../../assets/exm-logo-1.png" alt="">
                </div>
                <h3 class="text-center">Register Here</h3>
                <form>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter Here">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User password</mat-label>
                        <input type="password" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter Here">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last name</mat-label>
                        <input matInput placeholder="Enter Here">
                    </mat-form-field>
                    <div class="container text-center">
                        <button mat-raised-button color="primary">Submit</button>
                        <button class=" m-4 " mat-raised-button color="accent">Accent</button>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>