<mat-card>
    <h1>Add New Quiz</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-1">
         <form action="">
         <mat-form-field class="w100">
           <mat-label>Enter Title</mat-label>
           <input type="text" name="title"  placeholder="Enter here " matInput>

         </mat-form-field>   
         <mat-form-field class="w100" appearance="fill">
         <mat-label>Enter Description</mat-label>
         <textarea name="description" type="text" placeholder="Enter here " id="" cols="30" rows="15" matInput></textarea>

       </mat-form-field>   
         </form>
        </div>

    </div>
</div>
</mat-card>