<div class="wrapper">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <mat-card class="p-3">
                <div class="container">
                    <img class="text-center exam-logo m-auto " src="../../../assets/exm-logo-1.png" alt="">
                </div>
                <h1 class="text-center"> Login Here !!</h1>
                <form action="">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input  name="username" matInput placeholder="Enter Here">
                        <mat-hint>Valid User Name</mat-hint>
                    </mat-form-field> 
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input  name="password" matInput placeholder="Enter Here">
                        
                    </mat-form-field>
                    </form>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button class=" m-3"type="submit" mat-raised-button color="accent">Reset</button>

                    </div>  
                </mat-card>              
            </div>
        </div>
    </div>
</div>