<mat-card  class="mt-2"*ngFor="let quiz of quizzes">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{quiz.title}}</mat-card-title>
        <mat-card-subtitle>
          {{quiz.category.title}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-content >
            {{quiz.description}}
        </mat-card-content>
        <mat-card-actions>
            <button class="m-1" mat-flat-button color="primary">Questions </button>
            <button class="m-1" mat-stroked-button color="primary">Max-Marks {{quiz.maxMarks}} </button>
            <button class="m-1" mat-stroked-button color="primary">Questions {{quiz.numberOfQuestions}} </button>
            <button class="m-1" mat-flat-button color="primary">Update </button>
            <button class="m-1" mat-flat-button color="primary">Attempts </button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
<div class="container text-center mt-3">
    <button class="m-1" mat-raised-button color="primary">Add New Quiz</button>
</div>