<mat-card class="p-3">
    <mat-list>
        <div mat-subheader>All Categories</div>
        <mat-list-item *ngFor="let category of categories">
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{category.title}}</div>
            <div>{{category.description}}</div>
            <mat-divider></mat-divider>          
        </mat-list-item>
    </mat-list>
 <div class="container text-center" >
    <button mat-raised-button color="Primary">Add New Category</button>
 </div>
 <!-- pending delete category -->
</mat-card>